body {
    margin: 0;
    height: 100%;
    background-color: orange;
}

#container {
    background-color: #dfdfdf;
    height: 100%;
    position: relative;
}

/* Caixas */

.box {
    border: 1px solid #fff;
    height: 200px; /* Altura */
    width: 200px; /* Largura */
    transition: filter 0.4s;
    cursor: pointer;
}

.box:hover {
    filter: brightness(0.6);
}

.red {
    background-color: rgb(252, 0, 168);
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.purple {
    background-color: purple;
}

.top-left {
    position: absolute;
    top: 0;
    left: 0;
}

.top-right {
    position: absolute;
    top: 0;
    right: 0;
}

.bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
}

.bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
}

.center {
    position: absolute;
    bottom: calc(50% - 100px);
    right: calc(50% - 100px);;
}

/* Botão de Adicionar */

.addBtn {
    width: 50px;
    height: 50px;
    background-color: rgb(72, 72, 231);
    color: #fff;
    font-weight: bold;
    font-size: 32px;
    border-radius: 50%; /* Sempre que quiser colocar qualquer coisa redonda */
    position: fixed;
    bottom: 25px;
    right: 40px;

    /* Dica pra centralizar elementos */
    display: flex;
    align-items: center;
    justify-content: center;
}